<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a asp-area="Administration" asp-controller="Dashboard" asp-action="" class="navbar-brand">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Admin Dashboard
    </a>
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-link">
            <a class="nav-link" id="admin_top_nav_li" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
    </ul>
</nav>
