
@{
    ViewData["Title"] = "ConfirmPayment";
}

<div class="page" id="thank_you_container">
    <div>
        <h2>Email confirmation was sent to the client</h2><br />
    </div>
    <div>
        <a asp-area="Administration" asp-controller="Dashboard" asp-action="" class="btn btn-primary btn-sm mobile-fondsize-11">Back to dashboard</a>
    </div>
</div>

