@if (this.TempData.ContainsKey("capacity"))
{
    <div class="alert alert-info alert-dismissible">
        <p class="close" data-dismiss="alert" aria-label="close">&times;</p>
        <strong>@this.TempData["capacity"]</strong>
    </div>
}