@model CheckAvailableRoomsViewModel

<link rel="stylesheet" href="~/css/aos.css" type="text/css" media="all">

<div class="reg agileits w3layouts" id="check">
    <div class="agileits w3layouts" style="width:90%;">
        <div class="contact-form-sheet" style="width:100%; display:flow-root;">
            <div id="abc-form-wrapper" style="float:right">
                <h2 style="margin-top:150px">Check Available Rooms</h2>
                <div id="abc-form-content">
                    <div class="abc-column">
                        <form asp-controller="Accommodations" asp-action="Check" method="post" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div>
                                <span asp-validation-for="CheckIn" class="text-danger" style="color:white"></span>
                                <span asp-validation-for="CheckOut" class="text-danger" style="color:white"></span>
                                <span asp-validation-for="Adults" class="text-danger" style="color:white"></span>
                                <span asp-validation-for="Kids" class="text-danger" style="color:white"></span>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6 wow slideInLeft">                                   
                                    <label asp-for="CheckIn" class="control-label"></label>
                                    <input asp-for="CheckIn" class="form-control" />                                 
                                </div>
                                <div class="form-group col-md-6 wow slideInRight">
                                    <label asp-for="CheckOut" class="control-label"></label>
                                    <input asp-for="CheckOut" class="form-control" />                                  
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6 wow slideInLeft">
                                    <label asp-for="Adults" class="control-label"></label>
                                    <input asp-for="Adults" class="form-control" />
                                </div>
                                <div class="form-group col-md-6 wow slideInRight">
                                    <label asp-for="Kids" class="control-label wow slideInRight"></label>
                                    <input asp-for="Kids" class="form-control" />                                   
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" value="" class="btn btn-default" style="background-color:#1dc8d9; color:white">Check</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





