@model AllAvailableRoomsViewModel

@{
    ViewData["Title"] = "Available rooms";
}

<link rel="stylesheet" href="~/css/style2.css" type="text/css" media="all">

<div class="page" id="available_rooms_container">
    <div class="container shadow">
        <partial name="~/Views/Accommodations/_ErrorMessagePartial.cshtml" />
    </div>


    <h2 style="color:#1dc8d9; margin-bottom:50px;">Available rooms</h2>

    <form asp-action="Book" asp-controller="Accommodations" method="get">

        <div class="row">
            <div class="form-group col-md-4"></div>
            <div class="form-group col-md-2">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" type="hidden" class="form-control" />
                <input value="@DateTime.Parse(Model.CheckIn).ToString("dd/MM/yyyy")" disabled="disabled" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" type="hidden" class="form-control" />
                <input value="@DateTime.Parse(Model.CheckOut).ToString("dd/MM/yyyy")" disabled="disabled" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4"></div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4"></div>
            <div class="form-group col-md-2">
                <label asp-for="Adults" class="control-label"></label>
                <input asp-for="Adults" type="hidden" class="form-control" />
                <input value="@Model.Adults" disabled="disabled" class="form-control" />
                <span asp-validation-for="Adults" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Kids" class="control-label"></label>
                <input asp-for="Kids" type="hidden" class="form-control" />
                <input value="@Model.Kids" disabled="disabled" class="form-control" />
                <span asp-validation-for="Kids" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4"></div>
        </div>

        <span asp-validation-for="RoomIds" class="text-danger"></span>

        <table id="table_container" style="margin-top:80px;">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Room type</th>
                    <th scope="col">Price per day</th>
                    <th scope="col">Adults</th>
                    <th scope="col">Kids</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @await Component.InvokeAsync("ReservedRooms", new { checkIn = Model.CheckIn.ToString(), checkOut = Model.CheckOut.ToString(), adults = Model.Adults, kids = Model.Kids })
            </tbody>
        </table>

        <div class="form-row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4 text-center">
                <button type="submit" name="action" class="btn mobile-fondsize-11">Book</button>
            </div>
            <div class="form-group col-md-4 text-center">
                <a asp-controller="Accommodations" asp-action="" style="background-color:#008c9d" class="btn btn-primary">Back</a>
            </div>
            <div class="form-group col-md-2"></div>
        </div>
    </form>
</div>


