
@{
    ViewData["Title"] = "Confirmation";
}

    <div class="page" id="thank_you_container">
        <h2>Thank you for the reservation!</h2><br />
        <h3>Please check your email to see our confirmation.</h3>
    </div>

