@{
    ViewData["Title"] = "Gallery";
}

    <div class="page" style="background-color:#e8f9fb;">
        <div class="rooms agileits w3layouts">
            <div class="container">
                <h3 style="margin-bottom:30px; margin-top:30px; color:#0e646c !important">We offer coziness, comfort and relaxation</h3>

                <div class="rooms-grids agileits w3layouts">

                    <div class="rooms-grid agileits w3layouts rooms-grid-1 wow fadeInRight">
                        <img src="~/pictures/gallery-1.jpg" alt="Agileits W3layouts">
                        <h3>Coziness</h3>
                    </div>
                    <div class="rooms-grid agileits w3layouts rooms-grid-1 wow fadeInLeft">
                        <img src="~/pictures/gallery-2.jpg" alt="Agileits W3layouts">
                        <h3>Comfort</h3>
                    </div>
                    <div class="rooms-grid agileits w3layouts rooms-grid-1 wow fadeInRight">
                        <img src="~/pictures/gallery-3.jpg" alt="Agileits W3layouts">
                        <h3>Relax</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio -->
        <div class="portfolio agileits w3layouts" style="padding:10%; text-align:center">
            <div class="ga-top agileits w3layouts">
                <div class="col col-md-3 col-sm-3 agileits w3layouts portfolio-top" style="height:100%;">
                    <div class="portfolio-item agileits w3layouts wow zoomIn" style="height:50%;">
                        <a class="example-image-link agileits w3layouts" href="images/project-1.jpg" data-lightbox="example-set" data-title="">
                            <div class="grid agileits w3layouts">
                                <figure class="effect-apollo agileits w3layouts">
                                    <img src="~/pictures/gallery6.jpg" alt="Agileits W3layouts">
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item wow agileits w3layouts zoomIn" style="height:50%;">
                        <a class="example-image-link agileits w3layouts" href="images/project-2.jpg" data-lightbox="example-set" data-title="">
                            <div class="grid agileits w3layouts">
                                <figure class="effect-apollo agileits w3layouts">
                                    <img src="~/pictures/gallery5.jpg" alt="Agileits W3layouts">
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-3 col-sm-3 agileits w3layouts portfolio-top">
                    <div class="portfolio-item wow agileits w3layouts zoomIn" style="margin-top:20px;">
                        <a class="example-image-link agileits w3layouts" href="images/project-3.jpg" data-lightbox="example-set" data-title="">
                            <div class="grid agileits w3layouts">
                                <figure class="effect-apollo agileits w3layouts">
                                    <img src="~/pictures/gallery7.jpg" alt="Agileits W3layouts">
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>

                    <div class="portfolio-item agileits w3layouts wow zoomIn">
                        <a class="example-image-link agileits w3layouts" href="images/project-4.jpg" data-lightbox="example-set" data-title="">
                            <div class="grid agileits w3layouts">
                                <figure class="effect-apollo agileits w3layouts">
                                    <img src="~/pictures/gallery4.jpg" alt="Agileits W3layouts">
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>

                    <div class="clearfix"></div>

                </div>

                <div class="col-md-3 col-sm-3 agileits w3layouts portfolio-top">

                    <div class="portfolio-item agileits w3layouts wow zoomIn">
                        <a class="example-image-link agileits w3layouts" href="images/project-6.jpg" data-lightbox="example-set" data-title="">
                            <div class="grid agileits w3layouts">
                                <figure class="effect-apollo agileits w3layouts">
                                    <img src="~/pictures/gallery8.jpg" alt="Agileits W3layouts">
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>

                    <div class="portfolio-item agileits w3layouts wow zoomIn">
                        <a class="example-image-link agileits w3layouts" href="images/project-7.jpg" data-lightbox="example-set" data-title="">
                            <div class="grid agileits w3layouts">
                                <figure class="effect-apollo agileits w3layouts">
                                    <img src="~/pictures/gallery10.jpg" alt="Agileits W3layouts">
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>
                    <div class="clearfix"></div>

                </div>

                <div class="col-md-3 col-sm-3 agileits w3layouts portfolio-top">

                    <div class="portfolio-item wow agileits w3layouts zoomIn" style="margin-top:20px;">
                        <a class="example-image-link agileits w3layouts" href="images/project-8.jpg" data-lightbox="example-set" data-title="">
                            <div class="grid agileits w3layouts">
                                <figure class="effect-apollo agileits w3layouts">
                                    <img src="~/pictures/gallery9.jpg" alt="Agileits W3layouts">
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>
                    <div class="portfolio-item wow agileits w3layouts zoomIn">
                        <a class="example-image-link agileits w3layouts" href="images/project-9.jpg" data-lightbox="example-set" data-title="">
                            <div class="grid agileits w3layouts">
                                <figure class="effect-apollo agileits w3layouts">
                                    <img src="~/pictures/spa5.jpg" alt="Agileits W3layouts">
                                    <figcaption></figcaption>
                                </figure>
                            </div>
                        </a>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Portfolio -->
    </div>

